/ {
    aliases {
        led0 = &led_nrf54;
        data-ready = &data_ready_pin;
        ble-cnfg-ready = &ble_cnfg_ready_pin;
        spi-conn = &spi20;
    };

    chosen {
        // Override default console/shell to use UART30 instead of UART20
        // This allows SPI20 to be used without conflict
        zephyr,console = &uart30;
        zephyr,shell-uart = &uart30;
        zephyr,uart-mcumgr = &uart30;
        zephyr,bt-mon-uart = &uart30;
        zephyr,bt-c2h-uart = &uart30;
        nordic,nus-uart = &uart30;
    };

    leds {
        compatible = "gpio-leds";
        led_nrf54: led_nrf54 {
            gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
            label = "NRF54 LED";
        };

        ble_cnfg_ready_pin: ble_cnfg_ready_pin {
            gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
            label = "BLE Configuration Ready Pin";
        };
    };

    buttons {
        compatible = "gpio-keys";
        data_ready_pin: data_ready_pin {
            gpios = <&gpio1 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "Data Ready Pin";
        };
        dbg_button_2: dbg_button_2 {
            gpios = <&gpio1 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "Debug Button 2";
        };
        dbg_button_3: dbg_button_3 {
            gpios = <&gpio0 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "Debug Button 3";
        };
    };
};

&pinctrl {
    spi_master_default: spi_master_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 1, 11)>,
                    <NRF_PSEL(SPIM_MISO, 1, 12)>,
                    <NRF_PSEL(SPIM_SCK, 1, 9)>;
        };
    };

    spi_master_sleep: spi_master_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 1, 11)>,
                    <NRF_PSEL(SPIM_MISO, 1, 12)>,
                    <NRF_PSEL(SPIM_SCK, 1, 9)>;
            low-power-enable;
        };
    };
};

&uart20 {
    status = "disabled";
};

&spi20 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi_master_default>;
    pinctrl-1 = <&spi_master_sleep>;
    pinctrl-names = "default", "sleep";
};

// UART30 for console/shell/RTT (has default pinctrl)
&uart30 {
    status = "okay";
    current-speed = <115200>;
};
